.icon-bascket {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-circle {
  width: 1em;
  height: 1em;
  fill: none;
  stroke: #EAEAEA;
}
.icon-faq1 {
  width: 2.2em;
  height: 1em;
  fill: #1f6cf8;
  stroke: initial;
}
.icon-faq3 {
  width: 1.38em;
  height: 1em;
  fill: #1f6cf8;
  stroke: initial;
}
.icon-footer-logo {
  width: 4.69em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-logo {
  width: 4.75em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-menu-close {
  width: 0.6em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-menu {
  width: 1.67em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-search {
  width: 1.06em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-tooltip-close {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-vintage-logo {
  width: 0.73em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
