//begin go-next
+b.go-next(class= goNextClass ? goNextClass : '')
	+e.text Комплексное решение
	+e.circle_1
	+e.circle_2
	+e.inner
		+e.svg-w
			+e.SVG.svg(viewBox='0 0 6 47')
				+e.PATH.svg-path(d='M0,0 6,0 3,7Z' fill='#fff' fill-opacity='0.5')
				+e.PATH.svg-path(d='M0,10 6,10 3,17Z' fill='#fff' fill-opacity='1')
				+e.PATH.svg-path(d='M0,20 6,20 3,27Z' fill='#fff' fill-opacity='0.5')
				+e.PATH.svg-path(d='M0,30 6,30 3,37Z' fill='#fff' fill-opacity='1')
				+e.PATH.svg-path(d='M0,40 6,40 3,47Z' fill='#fff' fill-opacity='0.5')
//end go-next